
[data-theme="olive"] {
    --bg-primary: #283618;
    --bg-secondary: #606c38;
    --bg-tertiary: #bc6c25;
    --text-primary: #fefae0;
    --text-secondary: #dda15e;
    --accent: #bc6c25;
}

[data-theme="fiery"] {
    --bg-primary: #780000;
    --bg-secondary: #c1121f;
    --bg-tertiary: #003049;
    --text-primary: #fdf0d5;
    --text-secondary: #669bbc;
    --accent: #669bbc;
}

[data-theme="lavender"] {
    --bg-primary: #22223b;
    --bg-secondary: #4a4e69;
    --bg-tertiary: #9a8c98;
    --text-primary: #f2e9e4;
    --text-secondary: #c9ada7;
    --accent: #c9ada7;
}

[data-theme="golden"] {
    --bg-primary: #000814;
    --bg-secondary: #001d3d;
    --bg-tertiary: #003566;
    --text-primary: #ffd60a;
    --text-secondary: #ffc300;
    --accent: #ffc300;
}

[data-theme="neutral"] {
    --bg-primary: #0a0908;
    --bg-secondary: #22333b;
    --bg-tertiary: #5e503f;
    --text-primary: #eae0d5;
    --text-secondary: #c6ac8f;
    --accent: #c6ac8f;
}

[data-theme="autumn"] {
    --bg-primary: #432818;
    --bg-secondary: #6f1d1b;
    --bg-tertiary: #99582a;
    --text-primary: #ffe6a7;
    --text-secondary: #bb9457;
    --accent: #bb9457;
}

[data-theme="sunset"] {
    --bg-primary: #001427;
    --bg-secondary: #708d81;
    --bg-tertiary: #8d0801;
    --text-primary: #f4d58d;
    --text-secondary: #f4d58d;
    --accent: #bf0603;
}

[data-theme="midnight"] {
    --bg-primary: #00296b;
    --bg-secondary: #003f88;
    --bg-tertiary: #00509d;
    --text-primary: #ffd500;
    --text-secondary: #fdc500;
    --accent: #fdc500;
}

[data-theme="sea"] {
    --bg-primary: #0d1321;
    --bg-secondary: #1d2d44;
    --bg-tertiary: #3e5c76;
    --text-primary: #f0ebd8;
    --text-secondary: #748cab;
    --accent: #748cab;
}

[data-theme="steel"] {
    --bg-primary: #212529;
    --bg-secondary: #343a40;
    --bg-tertiary: #495057;
    --text-primary: #f8f9fa;
    --text-secondary: #adb5bd;
    --accent: #6c757d;
}

[data-theme="berry"] {
    --bg-primary: #450920;
    --bg-secondary: #a53860;
    --bg-tertiary: #da627d;
    --text-primary: #f9dbbd;
    --text-secondary: #ffa5ab;
    --accent: #ffa5ab;
}

[data-theme="rustic"] {
    --bg-primary: #585123;
    --bg-secondary: #772f1a;
    --bg-tertiary: #f58549;
    --text-primary: #eec170;
    --text-secondary: #f2a65a;
    --accent: #f58549;
}

[data-theme="fieryRed"] {
    --bg-primary: #03071e;
    --bg-secondary: #370617;
    --bg-tertiary: #6a040f;
    --text-primary: #ffba08;
    --text-secondary: #faa307;
    --accent: #f48c06;
}

[data-theme="oceanBlue"] {
    --bg-primary: #006466;
    --bg-secondary: #0b525b;
    --bg-tertiary: #1b3a4b;
    --text-primary: #4d194d;
    --text-secondary: #3e1f47;
    --accent: #312244;
}

[data-theme="beach"] {
    --bg-primary: #264653;
    --bg-secondary: #2a9d8f;
    --bg-tertiary: #f4a261;
    --text-primary: #e9c46a;
    --text-secondary: #e9c46a;
    --accent: #e76f51;
}